#logi{
    background: $black;
      height: 596px;
    // width: 1400px;
    // padding-top: 72px;
    // opacity: 0.63;
    // width: 100%;  
    display: flex;
    margin: auto;
    color: $white;
    // position: relative;
  
    .container{
      height: 639px;
      width: 1100px;
      display: flex;
      justify-content: center;
      align-items:center;
      margin:auto;
      gap: 168px;
      // z-index: 1;
  
      .logo {
        display: flex;
        padding-top: 10px;
        padding-bottom: 30px;
  
        img{
          width: 388.58px;
          height: 169.47px;
        }
      }
  
      .loginfo{
        display: flex;
        flex-direction: column;
        gap:20px;
  
        h2{
          color: $white;
          font-size: 30px;
          font-weight: 600;
          // padding-bottom: 22px;
          line-height: 1.4em;
          text-align: left;
        }
  
        hr{
          border: 1.5px solid $pink;
          width: 200px;
        }
  
        p {
          color: $white;
          font-size: 16px;
          line-height: 1.2em;
          text-align: justify;
        }
  
        .title{
          display: flex;
          flex-direction: column;
          gap:20px;
  
          .title1{
            display: flex;
            justify-content: center;    
            align-items: center;
            gap:20px;
            i{
              color: $white;
              background: $pink;
              padding: 10px;
              border-radius: 200px;
              font-size: 20px;
            }
  
            
          }
  
          .title2{
            display: flex;
            justify-content: center;    
            align-items: center;
            gap:20px;
                      
            i{
              color: $white;
              background: $pink;
              padding: 10px;
              border-radius: 200px;
              font-size: 20px;
            }
          }
        }
      }
  }
  
  }