#reviews{
    background: $white;
    height: 592px;;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
  
    .saying-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:26px;
  
      h1{
        color: $black2;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.3em;
        margin: auto;
        margin-top: 40px;
      }
  
      hr{
        border: 1.5px solid $blue;
        width: 64px;
      }
  
    }
  
    .window{
      height: 236px;
      display: flex;
      gap:100px;
  
      .text {
        width: 273px;
        height: 147px;
        background-color: $blue;
        color: $white;
        border: none;
        border-radius: 8px;
  
        p {
          font-size: 16px;
          padding: 20px;
          line-height: 1.3;
          text-align: left;
      }
  
      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width:  10px 10px 10px 10px;
        border-color:  $blue transparent transparent;
        margin-left: 20px;
    }
    }
  
    .facename{
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .name{
        display: flex;
        flex-direction: column;
      }
  
  
      h3 {
        margin-left: 15px;
        margin-bottom: 4px;
        font-weight: 100;
        font-size: 20px;
        color: $greydark;
      }
  
      p {
        color: $grey;
        padding: 0px;
        margin-left: 15px;
      }
    }
    }
  }

  @media (max-width:600px){
    #reviews{
      width: 99.9%;
      height: auto;
      gap:40px;
      background: $greylight;
      padding-bottom: 122px;
      
      .saying-info{
        height: 80px;
        width: 90%;
        gap:5px;

        h1{
            font-size: 20px;
            text-align: center;
            vertical-align: middle;  
        }

        p{
          display:none;
        }
      }

      .window{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:50px;
        width: 90%;
        gap:111px;

        .text .triangle{
          margin-left: 120px;
        }

        .facename{
          justify-content: center;
        }
      }
    }
  }