#reviews{
  background: $white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  
  .swiper {
    width: 500px;

    .swiper-wrapper{
      display: flex;
      align-items: center;
      height: 300px;
      .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: start;

        .chat{
          display:flex;
          justify-content: center;
          align-items: center;

        }
        .text {
          width: 273px;
          height: 147px;
          background-color: $blue;
          color: $white;
          border: none;
          border-radius: 8px;
    
          p {
            font-size: 16px;
            padding: 20px;
            line-height: 1.3;
            text-align: left;
        }
    
        .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width:  10px 10px 10px 10px;
          border-color:  $blue transparent transparent;
          margin-left: 20px;
      }
      }
    
      .facename{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        .name{
          display: flex;
          flex-direction: column;
        }
    
    
        h3 {
          margin-left: 15px;
          margin-bottom: 4px;
          font-weight: 100;
          font-size: 20px;
          color: $greydark;
        }
    
        p {
          color: $grey;
          padding: 0px;
          margin-left: 15px;
        }
      }
      }
    }
    .swiper-pagination{
      position:relative;
      top:-20px;
    }
    .swiper-pagination-bullet{
      background: $pink;
      height: 8px;
      width: 8px;
    }
    .swiper-button-next,
    .swiper-button-prev{
      color:$blue;
    }
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
    text-shadow: 0 0 4px $blue;
    transform: scale(1.1);
    }
  }
 
    .saying-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:26px;
      height: 40px;
  
      h1{
        color: $black2;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.3em;
        margin: auto;
      }
  
      hr{
        border: 1.5px solid $blue;
        width: 64px;
      }
  
    }
  }

  @media (max-width:600px){
    #reviews{
      height: 500px;
      height: 70vh;
      .saying-info{
        height: 40px;
        width: 90%;

        h1{
            font-size: 20px;
            text-align: center;
            vertical-align: middle;  
        }

        p{
          display:none;
        }
      }

      .swiper{
        width: 320px;
        width: 90%;

        .swiper-wrapper{
          display: flex;
          align-items: center;
          height: 300px;
          
          .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: start;
    
            .chat{
              display:flex;
              justify-content: center;
              align-items: center;
            }
            .text {
              width: 273px;
              height: 147px;
              background-color: $blue;
              color: $white;
              border: none;
              border-radius: 8px;
        
            .triangle {
              // width: 0;
              // height: 0;
              // border-style: solid;
              // border-width:  10px 10px 10px 10px;
              // border-color:  $blue transparent transparent;
              margin-left: 120px;
          }
          }
        
          .facename{
            display: flex;
            justify-content: center;
            align-items: center;
          }
          }
        }

        .swiper-button-next,
        .swiper-button-prev{
          color:$blue;
          padding: 20 0 0px;
          top:70%;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
        text-shadow: 0 0 4px $blue;
        transform: scale(1.1);
        }
      }
    }
  }