$black:#1C1C1C;
$black2: #212121;
$blue: #6696E2;
$greydark: #333333;
$grey: #86878B;
$greyhell: #00000029;
$greylight: #F5F5F5;
$grey2:#00000061;
$grey3: #333333;
$green: #41D395;
$pink:#E27866;
$white:#FFFFFF;

